/* === Import === */
/* @import url("./css/mediaQueeries.css"); */
@import url("./css/btnCss.css");

/* === Root === */
:root {
    /* =  Color Base =*/
    --clr-white: #fff;
    --clr-black: #000;
    --clr-whiteOne: #f2f2f2;
    --clr-blackOne: #333;
    --clr-dark-grain: #042326;
    --clr-dark-grainOne: #0A3A40;
    /* =  Palette Color =  */
    --clr-primary: #F20587;
    --clr-secondary: #1C17A6;
    --clr-complementary: #F2E529;
    --clr-light-p: #F25ECB;
    --clr-light-s: #3029F2;
    --clr-extra: #A6586D;
    /* = Font = */
    --font-family-m: 'Montserrat', sans-serif;
    --font-family-fashion: 'Bodoni Moda', serif;
    /* = size Font = */
    --font-size-title: 4rem;
    --font-size-titleTwo: 2.4rem;
    --font-size-titleThree: 1.8rem;
    --font-size-text: 1.6rem;
    --font-size-paragraph: 1.4rem;
    /* = Margin = */
    --margin: 0rem auto;
    --margin-one: 2rem auto;
    --margin-space: 1rem;
    --margin-top: 2rem;
    --margin-bottom: 2rem;
    /* = letter Spacing = */
    --letter-spacing: .1rem;
    /* == Padding == */
    --padding: 1rem;
    --padding-one: 1rem 3rem;
    /* == Img == */
    --object-fit: cover;
    --object-fit-contain: contain;
}

/* === General CSS  === */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p,
span {
    letter-spacing: var(--letter-spacing);
}

body {
    width: 100%;
    background-color: var(--clr-whiteOne);
    position: fixed;
}

/* === Main */
.main-principal {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: grid;
    margin: 0 auto;
    background-color: var(--clr-whiteOne);
}

/* === Section*/
.landing__photo {
    width: 100%;
    margin: 0 auto;
}

/* === Landing Background */
.landing__background {
    width: 100%;
    height: 100%;
    background-image: url("../src/assets/img/img3Mobile.jpg");
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

/* === Logo*/
.landing__photoLogo {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    left: 2.5rem;
    top: 2.5rem;
}

/* === Title*/
.landing__photoTitle {
    width: 100%;
    height: 100%;
    display: flex;
}

.landing__photoTitle--title {
    color: var(--clr-whiteOne);
    font-family: var(--font-family-fashion);
}

/* === Landing Foooter */

.landing__btn {
    grid-row: 2 / 3;
    z-index: 10;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.landing__footer {
    width: 100%;
    grid-row: 2 / 3;
    height: 100%;
    display: flex;
    padding: 2rem;
}