/* === Import === */

/* === Root Design System === */
:root {
    --clr-white: #fff;
    --clr-black: #000;
    --bg-color: #8AA6A3;
    --clr-logo: #D90416;
    --clr-bg: #079DD9;
    --clr-bg2: #41BDD9;
    --clr-two-section: #00E3CC;
    --clr-principal: #C6D93B;
    --clr-secondary: #6DBF1B;
    /* === Margin */
    --margin: 2rem auto;
}

/* === General === */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

main {
    width: 100%;
    margin: 2rem auto;
    padding: .5rem;
    outline: 1px solid #000;
}

.section-main {
    width: 50%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    outline: 4px solid #333;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p,
span {
    letter-spacing: 0.1rem;
}

p {
    padding: 1rem;
    color: #333;
    font-size: 1.6rem;
    font-weight: 400;
}

.input-text {
    padding: .5rem;
    margin: 1rem 1rem;
    width: 25rem;
}

.label-click {
    font-size: 1.4rem;
    font-weight: 500;
}

.main-title {
    text-align: center;
    margin: 2rem auto;
    font-size: 3rem;
    font-weight: 700;
}

/* === Button === */
.div-btn {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    width: 10rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

.btn:active {
    transform: scale(0.9);
}

.img-DOM {
    border-radius: 1rem;
}