/* === Mobile === */
@media (max-width: 370px) {}

@media (max-width: 575px) {
    .landing__footer--title {
        display: none;
    }

    .landing__photoTitle--titleTwo {
        display: none;
    }

    .main-principal {
        grid-template-columns: auto;
        grid-template-rows: 70% 30%;
        position: absolute;

    }

    .landing__photo {
        grid-row: 1 / 3;
        position: relative;
    }

    .landing__background {
        filter: saturate(0.5);
    }

    .landing__photoLogo {
        display: none;
    }

    .landing__photoTitle {
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .landing__photoTitle--title {
        font-size: 4rem;
        font-weight: 900;
        text-align: center;
    }

    .landing__photoTitle::after {
        content: " ";
        outline: 2px solid #f2f2f2;
        width: 30%;
        margin-top: 1.5rem;
        border-radius: 1rem;
        filter: opacity(.5);
    }

    #idLandingFooter {
        /*  background-color: #f2f2f2;
        border-top-right-radius: 7.5rem;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem; */
        /*  flex-direction: column; */
        justify-content: center;
        align-items: flex-start;
    }

    /*  #idFooterTitle {
        font-size: 1.8rem;
        font-family: var(--font-family-fashion);
        font-weight: 700;
        margin: 2rem auto;
    } */

    .landing__btn {
        position: absolute;
    }
}

/* == Mobile Screep === */
@media (min-width: 575px) and (max-width: 768px) {
    .landing__footer--title {
        display: none;
    }

    .landing__photoTitle--titleTwo {
        display: none;
    }

    .main-principal {
        grid-template-columns: auto;
        grid-template-rows: 70% 30%;
        position: absolute;

    }

    .landing__photo {
        grid-row: 1 / 3;
        position: relative;
    }

    .landing__background {
        filter: saturate(0.5);
    }

    .landing__photoLogo {
        display: none;
    }

    .landing__photoTitle {
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .landing__photoTitle--title {
        font-size: 5rem;
        font-weight: 900;
        text-align: center;
    }

    .landing__photoTitle::after {
        content: " ";
        outline: 2px solid #f2f2f2;
        width: 30%;
        margin-top: 1.5rem;
        border-radius: 1rem;
        filter: opacity(.5);
    }

    #idLandingFooter {
        justify-content: center;
        align-items: flex-start;
    }

    .landing__btn {
        position: absolute;
    }
}

/* === Laptop === */
@media (min-width: 768px) {
    .landing__photoTitle--title {
        display: none;
    }

    #idMain {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-rows: auto;
        gap: 1rem;
    }

    #idLandingPhoto {
        grid-column: 1 / 2;
        grid-row: auto;
    }

    #landingBtn {
        grid-column: 2 / 3;
        grid-row: auto;
        background-color: var(--clr-primary);
    }

    #idLandingFooter {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
    }

    #btnFooter {
        background-color: var(--clr-secondary);
        margin-top: 1rem;
    }

    #btnFooter:hover {
        background-color: var(--clr-primary);
        border: 4px solid #333;
    }

    .landing__photoTitle--titleTwo {
        font-size: 6rem;
        font-weight: 900;
        margin: 3rem auto;
        text-align: center;
        color: #f2f2f2;
    }

    #idFooterTitle {
        font-size: 2rem;
        margin: 2rem auto;
        text-align: center;
        color: #f2f2f2;
        opacity: 0.5;
        font-weight: 500;
        font-family: var(--font-family-m);
        width: 90%;
    }

}

/* === Screen === */
@media (min-width: 1024px) {
    .landing__photoTitle--titleTwo {
        font-size: 8rem;
    }
}

@media (min-width: 1280px) {}

/* === Max Screen === */
@media (min-width: 1440px) {
    .landing__photoTitle--titleTwo {
        font-size: 9rem;
    }

    #idFooterTitle {
        font-size: 3rem;
    }

    #btnFooter {
        height: 10%;
    }

    #btnFooter a {
        font-size: 2rem;
    }
}

@media (min-width: 1920px) {}

/* === Media Orientation ===*/
@media screen and (orientation: landscape) {

    /*Styles for landscape mode.*/
    body::after {
        content: "Landscape";
    }
}

@media screen and (orientation: portrait) {

    /* Styles for portrait mode. */
    body::after {
        content: "Portrait";
    }
}