/* === Mobile === */
@media (max-width: 370px) {}

@media (max-width: 575px) {
    .main-principal {
        grid-template-columns: auto;
        grid-template-rows: 70% 30%;
        position: absolute;

    }

    .landing__photo {
        grid-row: 1 / 3;
        position: relative;
    }

    .landing__background {
        filter: saturate(0.5);
    }

    .landing__photoTitle {
        justify-content: center;
        align-items: center;
    }

    .landing__photoTitle--title {
        font-size: 3rem;
        font-weight: 700;
    }

    .landing__footer {
        background-color: #f2f2f2;
        border-top-right-radius: 7.5rem;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .landing__footer--title {
        font-size: 1.8rem;
        font-family: var(--font-family-fashion);
        font-weight: 700;
        margin: 2rem auto;
    }

    .landing__btn {
        position: absolute;
    }
}

/* == Mobile Screep === */
@media (min-width: 576px) and (max-width: 767px) {}

/* === Laptop === */
@media (min-width: 768px) {}

/* === Screen === */
@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

/* === Max Screen === */
@media (min-width: 1440px) {}

@media (min-width: 1920px) {}

/* === Media Orientation ===*/
@media screen and (orientation: landscape) {

    /*Styles for landscape mode.*/
    body::after {
        content: "Landscape";
    }
}

@media screen and (orientation: portrait) {

    /* Styles for portrait mode. */
    body::after {
        content: "Portrait";
    }
}